:root {
  --color-primary:blue;
  --color-gradient-start:blue;
  --color-gradient-stop:blue;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.9em;
  color: white ;
  background-color: gray !important;
}

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  font-family: 'Teko', sans-serif;
  line-height: 1.2em;
  color: blue;
}

.h4, h4,
.h5, h5,
.h6, h6 {
  font-family: 'Poppins', sans-serif;
  color: blue;
}

.lqd-column col-md-8 {
  color: blue;
}

.h1, h1 {
  font-size: 65px;
}
.ld-fh-txt {
  color: blue;
}
.txt{
  color: blue;
}
.h2, h2 {
  font-size: 55px;
  color: blue;
}

.h3, h3 {
  font-size: 48px;
}

.h4, h4 {
  font-size: 28px;
}

.h5, h5 {
  font-size: 25px;
}

.h6, h6 {
  font-size: 19px;
}

.main-header {
  padding: 50px 100px 0;
}

.main-nav > li > a {
  font-family: 'Teko', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: white;
}

.main-nav > li > a .link-ext {
  background-color: gray;
}

.main-nav > li.is-active > a,
.main-nav > li.current-menu-item > a,
.main-nav > li:hover > a,
.main-nav > li > a:hover {
  color: gray;
}

.btn {
  font-family: 'Teko', sans-serif;
}

.main-footer {
  color: white;
}

.main-footer a:not(.btn) {
  color: white;
}

.main-footer a:not(.btn):hover {
  color: white;
}

.main-footer .social-icon a {
  color: white;
  background-color: gray;
}

.main-footer .social-icon a:hover {
  background-color: gray;
}
